---

import {getCollection} from "astro:content"

import RootLayout from "../../components/layout/Root.astro"
// import {pocketbase} from "../../pocketbase/pocketbase"


// const pb = pocketbase.authStore

// console.log({pb})

const pages = await getCollection("pages", ({data}) => {
  return data.isDraft !== true
})


---
<RootLayout
  description={""}
  title="Usefull information">
  <Fragment slot="body">
    <main>
      {pages.map(page => (
        <div>{JSON.stringify(page.data)}</div>
      ))}
    </main>
  </Fragment>
</RootLayout>
